//
// Alerts
//-------------------------------------------------------

.alert {
  @extend .alert;
  @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.6));
}

.alert {
  background-color: lighten($clemintine, 20%);
  border-color: $clemintine;
  color: darken($clemintine, 30%);
  h4 {
    color: darken($clemintine, 30%);
  }
}

.alert-info {
  background-color: lighten($cyan, 40%);
  border-color: $cyan;
  color: darken($cyan, 10%);
  h4 {
    color: darken($cyan, 10%);
  }
  .alert-link {
    color: darken($olive, 10%);
    &:hover {
      text-decoration: underline;
    }
  }
}

.alert-success {
  background-color: lighten($olive, 20%);
  border-color: $olive;
  color: darken($olive, 10%);
  h4 {
    color: darken($olive, 10%);
  }
}

.alert-error {
  background-color: lighten($blood-orange, 20%);
  border-color: $blood-orange;
  color: darken($blood-orange, 10%);
  h4 {
    color: darken($blood-orange, 10%);
  }
}


