// P2PU navbar

.navbar-inner{
  background-image: none;
  background-color: $navbar-default-bg;
  border-color: $navbar-default-border;
  @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.065));
  .navbar-btn {
    float: left;
    margin: 19px;
    font-size: 1.3em;
    line-height: 21px;
    color: $navbarText;
  }
}

.navbar{
  .brand{
    display: block;
    background: url('/static/img/logo-p2pu-menu.png');
    width: 80px;
    height: 24px;
    padding: 0;
    margin: 18px 0 17px 0;
    text-indent: -9999px;
    overflow: hidden;
  }

  .nav{
    margin: 9px 10px 0 10px;
    font-family: $baseFontFamily;
    &> li > a{
      font-family: $baseFontFamily;
      line-height: 1em;
      font-size: 16px;
      color: $navbarLinkColors;
      &:hover{
        color: $navbarLinkColorHovers;
        background-color: none;
      }
    }
    > .active{
      a,
      a:hover,
      a:focus{
        color: $navbarLinkColorHovers;
        background-color: $white;
        box-shadow: none;
        outline: none;
      }
    }

    .p2pu-tab{
      border-left: 1px solid $silver;
      font-size: 20px;
      line-height: 1px;
    }
  }

  .btn-group {
    margin-top: 0;
    > .btn {
      padding: 3px;
      width: 35px;
      height: 35px;
      line-height: 35px;
    }
  }
}
.nav{
  .dropdown-toggle, .dropdown-toggle:hover{
      .caret{
        border-top-color: $cyan;
        border-bottom-color: $cyan;
      }
  }
}

.nav-list {
  > .active{
     > a, a:hover{
      background-color: $cyan;
    }
  }
}

.nav-pills{
  > .active {
    > a, a:hover{
      background-color: $cyan;
    }
  }
}
