.well{
  border-bottom: 2px solid $silver;
}

label{
  font-family: $baseFontFamily;
}
hr{
  margin: 22px 0;
  border: 0;
  border-top: 1px solid $steel;
  border-bottom: 1px solid $white;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

.back-to-top-link{
  background-color: $silver;
  border-radius: 0 0 10px 10px;
  width: 60px;
  text-align: center;
  line-height: 30px;
  margin: 0;
  i{
    color: $slate;
    font-size: 1.5em;
  }
  &:hover{
    text-decoration: none;
  }
}
//Make new default navbar
@import "navbar";

//Buttons
@import "buttons";

//Alerts
@import "alerts";

//Labels and Badges
@import "labels-badges";

//Footer
@import "footer";

//Components
@import "comonents";
